VITE_SUPABASE_URL=tu_url_de_supabase_aqui
VITE_SUPABASE_ANON_KEY=tu_anon_key_de_supabase_aqui
VITE_APP_USER_EMAIL=el_email_del_usuario_creado_en_supabase@app.com
VITE_APP_USER_PASSWORD=la_contraseña_del_usuario
